:root {
  --colorHover: #de9191;
  --colorBackground: #fefdf9;
}

p {
  color: black;
  font-weight: bold;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fefdf9;
  padding: 2rem;
}

button{
  background-color: var(--colorBackground);
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: 3rem;
  margin: 0;
}

.nav-list li a {
  text-decoration: none;
  color: #1c1c1c;
}

.nav-list li a:hover {
  color: #de9793;
}

.open-menu,
.close-container {
  display: none;
}

@media (width <= 768px) {
  .open-menu,
  .close-container {
    display: block;
    border: none;
  }

  .nav-container {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--colorBackground);
    padding-top: 5rem;
    padding-right: 8rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  .show-nav {
    display: block !important;
  }

  .close-container {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
  .close-button {
    border: none;
  }

  .svg-button{
    width: 1.4rem;
  }

  .nav-list {
    flex-direction: column;
    gap: 0;
    padding-left: 1rem;
  }

  .nav-list li {
    padding-block: 0.5rem;
  }

  .nav-list li a {
    font-weight: 500;
  }
}
