:root {
  --colorHover: #de9191;
  --colorBackground: #fefdf9;
  --colorAside: #00001a;
  --colorTitleAside: #eeb158;
  --colorButton: #f15d51;
  --colorGrey: #c7c6cc;
  --colorGreyObscure: #88878c;
}

* {
  background-color: var(--colorBackground);
}

.img-desktop {
  max-height: 30rem;
  width: 100%;
}

.title-future {
  font-weight: bold;
  font-size: 4rem;
  max-width: 20vw;
  text-align: start;
  line-height: 0.9;
  color: var(--colorAside);
}

.text-title {
  max-width: 30vw;
  margin: 0;
  text-align: start;
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--colorGreyObscure);
  padding-right: 1.5rem;
}
.prr-container {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
}

.card-parr {
  color: white;
  padding-bottom: 2rem;
}

.aside-container h2 {
  color: var(--colorTitleAside);
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  font-weight: bold !important;
}

.card-parr:not(:last-of-type) {
  border-bottom: 1px solid hsl(0, 0%, 60%);
}

.card-parr > p {
  color: hsl(0, 0%, 60%);
}

.aside-container {
  background-color: var(--colorAside);
  color: whitesmoke;
}

.aside-container > * {
  background-color: var(--colorAside);
}

.aside-container > * > * {
  background-color: var(--colorAside);
}

.read-button {
  background-color: var(--colorButton);
  color: white;
  border: none;
  padding: 0.7rem 2rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

@media (width < 992px) {
  .title-future {
    font-weight: bold;
    font-size: 4rem;
    max-width: 100%;
    text-align: start;
    color: var(--colorAside);
  }
  .prr-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .text-title {
    max-width: 100%;
    padding: 0;
  }
  .read-button {
    margin-bottom: 2rem;
  }
}
